body {
	width:1440px;
	height:1343px;
	background-color:#FFFFFF;
	font-family: Montserrat;
	margin:0;
	padding: 0;
}

header{
	width 1440px:
	height:70px;
}
.container{
	font-weight: bolder;
}
.clearfix:after {
content:'';
display:table;
width: 100%;
clear: both;
}
.logo{
	float:left;
	height: 40px;
	width: 105.69px;
	margin-left: 140px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: block;
}
.logo1{
	width: 40px;
	height: 40px;
	padding-right:8px;
}
.toxin{
	width: 53.19px;
	height: 12px;
	padding-bottom: 13.72px;
}
nav{
	width:500px;
	height: 21px;
	margin-left:480px;
	}
.menu li {
	float:left;
	margin-right: 15px;
	display: block;
	padding-top: 26px;
	padding-bottom: 23px;
}
.menu a{
	text-decoration: none;
	color: rgba(31, 32, 65, 0.5);
	font-size: 14px;
}
.item {
	float:left;
}
.material-icons {
	width: 24px; 
	height:21px;
	font-size: 24px;
	float: right;
}
.buttons{
	width: 303px;
	height: 34px;
	float: right;
	margin-right: 160px;

		}
.buttons a{
	display:block;
	justify-content: space-around;
	text-align: center;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
	margin: 0 auto;
	border-radius: 22px;
	padding-top: 9px;
}
.button1 {
	background: #FFFFFF;
	color: rgba(188,156,255,1);
	border:2px solid rgba(139,164,249,1);
	width:87px;
	height: 34px;
	float: left;
		}
.button2{
	background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	color: rgba(255,255,255,1);
	width: 196px;
	height:34px;
	float: right;
}
section {
	}
.landing{
background-image: url(img/image3.png);
background-size: cover;
height:1022px;
width:1534px;

}