body {
	width:1440px;
	height:1343px;
	background-color:#FFFFFF;
	font-family: Montserrat;
	margin:0;
	padding: 0;
}
div{
	box-sizing: border-box;
}
.container{
	width 1440px:
	height:70px;
}
.clearfix:after {
content:'';
display:table;
width: 100%;
clear: both;
}
.logo{
	float:left;
	height: 40px;
	width: 105.69px;
	margin-left: 140px;
	margin-top: 15px;
}
.logo1{
	width: 40px;
	height: 40px;
	padding-right:8px;
}
.toxin{
	width: 53.19px;
	height: 12px;
	padding-bottom: 13.72px;

}
.menu{
	width:446px;
	height: 21px;
	margin-left:531px;
}
.menu li {
	float:left;
	margin-right: 20px;
	display: block;
}
.menu a{
	text-decoration: none;
	color: rgba(31, 32, 65, 0.5);
	font-size: 14px;
}
.buttons{
	float:right;
}
.button1 {

}
.button2{

}
.landing{
	height: 1022px;
	width:1534px;
	background-image: url(img/image 3.png);

}